*{
    margin: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding: 1px;
    box-sizing: border-box;
    text-decoration: none;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

.header {
    margin-bottom: 126px;
}

.header_inner {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 100px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header_container{
    display: flex;
    flex-direction: row;
}

.logo {
    width: 107px;
    height: 62px;
}

.header_btn_wrapper {
    width: 208px;
    height: 38px;
    top: 20px;
}

.icon_dot {
    color: black;
}

.title {
    margin-top: -85px;
}


.btn {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #3482C6;
    width: 208px;
    height: 38px;
    border: 0;
    
}

.btn:hover {
    color: #3482C6;
    box-shadow: 0.1;
}

.second {
    margin-bottom: 45px;
}

.adress {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 250px;
}

.icon_dot {
    margin-right: 14px;
}

.phone_wrapper {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    padding-left: 100px;
}

.nav{
    font-family: 'Tactic Sans-Blt';
    src: url(../fonts/TacticSans-Bld.ttf);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 400px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

.nav_item-link {
    font-family: 'TacticSans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-right: 83px;
}

.main_title {
    font-family: 'Tactic Sans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 70px;
    padding-bottom: 40px;
}

.sub_text {
    font-family: 'TacticSans-Blt';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.sub_text_wrapper {
    font-family: 'Tactic Sans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    margin-top: 15px;
}
.second {
    padding-top: 10px;
}

.main_wrapper {
    margin-left: 260px;
}

.btn {
    font-family: 'Noto Sans';
}

.title_item {
    font-family: 'TacticSans';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.text_color {
    color: #18a0fb;
}

/* слайдер */

.slider_wrapper_one {
    margin-top: 140px;
}

.slider-container {
    margin-top: -334px;
    margin-left: 832px;
}

.img_slider {
    width: 557px;
    height: 326px;
    z-index: 1;
    text-align: center;
}


.swiper-button-prev::after,
.swiper-button-next::after {
    display: none;
}

.slider-buttons_one {
    position: absolute;
}


.swiper-button-prev {
    background-image: url(../icons/arrowL.svg);
    margin-right: 10px; 
    background-color: #fff;
    border: #fff;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-right: 50px;
}

.swiper-button-next {
    background-image: url(../icons/arrowR.svg);
	margin-left: 10px;
    background-color: #fff;
    width: 20px;
    height: 20px;
    border: #fff;
    border-radius: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 20px 20px;
    margin-right: 100px;
}

.swiper-container {
	padding-bottom: 50px;
}

.swiper_pagination {
    display: flex;
}

.slider_img_title {
    display: flex;
    text-align: center;
    max-width: 100%;
    max-height:  100%;
}

/* второй слайдер */

.slider-container_one {
    overflow: hidden;
    width: 100%;
}

.swiper-wrapper_one {
    display: flex;
    width: 100%;
    height: 100%;
    margin-top: -100px;
}

.card_one {
    flex-shrink: 0;
}

.swiper-pagination_one {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-right: 10px;
    border-radius: 0px;
    width: 15px;
    height: 15px;
    transform: matrix(1, 0, 0, -1, 0, 0);
}

.slider_title_one {
    text-transform: uppercase;
    padding-bottom: 100px;
    margin-left: 680px;
}

.slider_title_two {
    text-transform: uppercase;
    text-align: center;
}

/* третий слайдер */

.slider-container_two {
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
}

.swiper-wrapper_two {
    display: flex;
    height: 100%;
}

.card_two {
    flex-shrink: 0;
}

.line_title_two::before {
    content: '';
    position: absolute;
    width: 671px;
    height: 3px;
    left: 850px;
    background-color: #3482C6;
    z-index: -1;
    margin-top: 16px;
}

.slider_title_three {
    text-transform: uppercase;
    text-align: center;
}

/* четвертый слайдер */

.slider-container_three {
    overflow: hidden;
    width: 100%;
    margin-top: 40px;

}

.swiper-wrapper_three {
    display: flex;
    height: 100%;
}

.card_three {
    flex-shrink: 0;
}

.line_title_three::before {
    content: '';
    position: absolute;
    width: 610px;
    height: 3px;
    background-color: #3482C6;
    z-index: -1;
    margin-top: 16px;
}




/* пятый слайдер */

.slider-container_four {
    overflow: hidden;
    width: 100%;
    margin-top: 50px;
}

.swiper-wrapper_four {
    display: flex;
    height: 100%;
}

.card_four {
    flex-shrink: 0;
}

.img_slider_one {
    margin-left: 196px;
    margin-top: 60px;
}

.swiper-pagination_one {
    text-align: center;
}

.slider_title_four {
    text-transform: uppercase;
    margin-left: 750px;
}

.line_title_four::before {
    content: '';
    position: absolute;
    width: 671px;
    height: 3px;
    left: 850px;
    background-color: #3482C6;
    z-index: -1;
    margin-top: 16px;
}

/* слайдеры закончились */

.news_img {
    max-width: 378px;
    max-height: 378px;
}

.card {
    width: 557px;
    height: 326px;
}


.sub_title {
    font-family: 'TacticSans-Bld';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 40px;
}

.field{
    padding-left: 30px;
    padding-top: 15px;
    display: inline-block;
}

.input__traid-in{
    width: 524px;
    height: 45px;   
    background: #FFFFFF;
    border: 1px solid rgba(52, 130, 198, 0.05);
    box-sizing: border-box;
    box-shadow: 4px 6px 10px rgba(110, 185, 241, 0.1);
    border-radius: 5px;
}

.checkbox {
    padding-top: 15px;
    padding-left: 320px;
}

.disabled__btn {
    width: 312px;
    height: 57px;
    margin-top: 55px;
    margin-left: 136px;
}

.form_wrapper {
    display: flex;
}

.form_traid-in {
    margin-left: 196px;
    margin-top: 130px;
    width: 584px;
    height: 600px;
    left: 196px;
    top: 808px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.credit_calc {
    margin-left: 40px;
    margin-top: 130px;
    width: 584px;
    height: 600px;
    left: 820px;
    top: 808px;
    background: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.input_inner {
    opacity: 0.5;
}

.title_item {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}



.sub_text_desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
}

.equipment {
    margin-top: 100px;
    font-size: 24px;
}

.equipment_to_title {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 258px;
    padding-right: 20px;
    padding-bottom: 21px;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;
}

.equipment_item.comp {
    margin-right: 53px;
}

.equipment_item.price {
    margin-right: 100px;
}

.equipment_title_two {
    display: flex;
    margin-left: 258px;
    padding: 11px;
    background: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.equipment_item_two.model {
    margin-right: 70px;
    
}

.equipment_item_two.old_price {
    margin-right: 36px;
    text-decoration: line-through;
    font-size: 18px;
    line-height: 24,52px;

}

.equipment_item_two.new_price {
    margin-right: 85px;
}      

.equipment_item_two.credit_price {
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #3482C6;
}

.news {
    margin-top: 100px;
}

.news_title {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}


.news_container {
    display: flex;
    margin-top: 60px;
    margin-left: 140px;
    width: 376px;
    
}

.news_card {
    margin-right: 40px;
}

.news_card:last-child {
    margin-right: 0px;
}

.news_sub-title {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 20px;
}

.news_text {
    margin-bottom: 15px;
}

.feedback_title {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 60px;
}

.feedback_container {
    display: flex;
    margin-top: 60px;
    margin-left: 140px;
    width: 376px;
}

.feedback_card {
    margin-right: 40px;
    margin-bottom: 100px;
}

.feedback_card:last-child {
    margin-right: 0px;
}

.feedback_head {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}