.header {
    margin-bottom: 126px;
 }
.header_inner {
    display: flex;
    flex-direction: row;
    margin-left: 196px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.header_container{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.company_logo_wrapper {
    padding-right: 61px;
}

.header_btn_wrapper {
    width: 208px;
    height: 38px;
    left: 364px;
    top: 20px;

}

.btn {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    line-height: 17px;
    background: #3482C6;
    width: 208px;
    height: 38px;
    border: 0;
    
}

.btn:hover {
    color: #3482C6;
    box-shadow: 0.1;
}

.adress{
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 328px;
}

.icon_dot {
    margin-right: 14px;
}

.phone_wrapper {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    padding-left: 100px;
}

.nav{
    font-family: 'Tactic Sans-Blt';
    src: url(../fonts/TacticSans-Bld.ttf);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 405px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
}

.nav_item-link {
    font-family: 'TacticSans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
    color: #fff;
    text-decoration: none;
    margin-right: 83px;
}

.main_title {
    font-family: 'Tactic Sans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 58px;
    font-style: normal;
    font-weight: 600;
    line-height: 70px;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 139px;
    padding-bottom: 40px;
}

.sub_text {
    font-family: 'TacticSans-Blt';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 26px;
    font-style: normal;
    font-weight: 600;
    line-height: 31px;
    letter-spacing: 0em;
    text-align: left;
}

.sub_text_wrapper {
    font-family: 'Tactic Sans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    margin-top: 15px;
}
.second {
    padding-top: 10px;
}

.main_wrapper {
    margin-left: 260px;
}

.btn {
    font-family: 'Noto Sans';
}

.title_item {
    font-family: 'TacticSans';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.text_color {
    color: #18a0fb;
}

.sub_title {
    font-family: 'TacticSans-Bld';
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 40px;
}

.field{
    padding-left: 30px;
    padding-top: 15px;
    display: inline-block;
}

.input__traid-in{
    width: 524px;
    height: 45px;   
    background: #FFFFFF;
    border: 1px solid rgba(52, 130, 198, 0.05);
    box-sizing: border-box;
    box-shadow: 4px 6px 10px rgba(110, 185, 241, 0.1);
    border-radius: 5px;
}

.checkbox {
    padding-top: 15px;
    padding-left: 320px;
}

.disabled__btn {
    width: 312px;
    height: 57px;
    margin-top: 55px;
    margin-left: 136px;
}

.form_wrapper {
    display: flex;
}

.form_traid-in {
    margin-left: 196px;
    margin-top: 130px;
    width: 584px;
    height: 600px;
    left: 196px;
    top: 808px;
    background-color: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.credit_calc {
    margin-left: 40px;
    margin-top: 130px;
    width: 584px;
    height: 600px;
    left: 820px;
    top: 808px;
    background: #F8FAFD;
    border: 1px solid rgba(52, 130, 198, 0.1);
    box-sizing: border-box;
    border-radius: 10px;
}

.input_inner {
    opacity: 0.5;
}

.title_item {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}



.sub_text_desc {
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;

}

.equipment_title{
    font-family: 'TacticSans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.thead {
    font-family: 'TacticSans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 43px;
    letter-spacing: 0em;
    text-align: left;
}

.detail_title{
    font-family: 'TacticSans-Bld';
    src: url(../fonts/TacticSans-Bld.ttf);
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;

}

.news {
    margin-top: 100px;
}

.news_title {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
}


.news_container {
    display: flex;
    margin-top: 60px;
    margin-left: 140px;
    width: 376px;
    
}

.news_card {
    margin-right: 40px;
}

.news_card:last-child {
    margin-right: 0px;
}

.news_sub-title {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
    margin-top: 48px;
    margin-bottom: 20px;
}

.news_text {
    margin-bottom: 15px;
}

.feedback_title {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 43px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 100px;
    margin-bottom: 60px;
}

.feedback_container {
    display: flex;
    margin-top: 60px;
    margin-left: 140px;
    width: 376px;
}

.feedback_card {
    margin-right: 40px;
    margin-bottom: 100px;
}

.feedback_card:last-child {
    margin-right: 0px;
}

.feedback_head {
    font-family: 'TacticSans-Bld';
    font-style: normal;
    font-weight: bold;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 22px;
    align-items: center;
}